body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #264d78;
    color: #fff;
    text-align: center;
    padding: 5px;
}

#tex1 {
    background-color: #264d78;
    color: #fff;
    text-align: center;
    margin-top: -80px;
    padding: 5px;
}

#tex2 {
    background-color: #264d78;
    color: #fff;
    text-align: center;
    margin-top: -30px;
    padding: 5px;
}

#img {
    background-color: #264d78;
    color: #fff;
    margin-right: 100%;
    padding: 0;
}

#alumnos-list {
    max-width: 1250px;
    margin: 10px auto;
    background-color: #324355;
    padding: 20px;
    border-radius: 10px;
}

#alumnos-ul {
    list-style: none;
    padding: 0;
}

#alumnos-ul li {
    margin: 10px;
    background-color: #d8dadb;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display:inline-flexbox;
    align-items: center;
}

#alumnos-ul li img {
    width: 100px;
    height: 110px;
    margin-left: 20px;
    border-radius: 25px;
}

#alumnos-ul li h2 {
    font-size: 15px;
    margin: 10px 50px;
    margin-top: -99px;
    margin-left: 180px;
}

#alumnos-ul li p {
    font-size: 14px;
    margin: 5px 0;
    margin-left: 180px;
}

footer {
    background-color: #264d78;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilo para los enlaces dentro del footer */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

@media (max-width: 700px) {
    body {
        margin-right: -60px;
        overflow-x: hidden; 
    }
    #tex1 {
        padding: 10px 60px; 
        text-align: right; 
    }
    #tex2 {
        padding: 10px 60px; 
        text-align: right;
    }
    #alumnos-list {
        background-color: transparent;
        padding: 0; 
    }
    #alumnos-ul li {
        flex: 0 0 100%;
        display: block;
        margin: 10px 0; 
    }
    #alumnos-ul li img {
        width: 100%; 
        height: auto;
        margin-left: 0; 
        border-radius: 0; 
    }
    #alumnos-ul li h2,
    #alumnos-ul li p {
        font-size: 14px; 
        margin: 5px 0; 
    }
}

