/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #263a33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    padding: 0; 
}

#Contenedor{
    height: 600px;
    width: 570px;
    background-color:aquamarine;
    color: #000000; 
    padding-top: 10px;
}

header {
    color: #050505;
    text-align: center;
    padding: 20px 0;
}

section {
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fcf96c;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.container {
    height: 550px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e9e769; /* Fondo verde */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
}

h1 {
    color: #000000; 
}

label {
    font-weight: bold;
    color: #000000; 
    padding-top: 20px;
}

select {
    width: 15%;
    padding: 10px;
    border: none;
    border: 1px solid #1a800d;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #bcf878;
}

button {
    background-color: #6dfca8; 
    color: #000000;
    padding: 15px 20px;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}


input{
    width: 20%;
    background-color: #6dfca8; 
    padding: 3px;
    border: 1px solid #1a800d;
    border-radius: 3px;
    color: #000; 
   
}

center {
    text-align: center;
}

#listaGenerada {
    list-style-type: none;
    padding: 0;
}

#resultados {
    text-align: center;
    margin-top: 40px;
    background-color: #98f37d;
    border-radius: 10px;
    padding: 20px;
}

#resultados p {
    font-weight: bold;
    margin: 5px 0;
    color: #000000; /* Texto en negro */
}

#porcentajeImpares, #porcentajePares, #esAsimetrico {
    color: #000000; /* Texto en negro */
}