/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #575656;
}

header {
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: #0fad93;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180vh;
}

section {
    background-color: #a5a4a4;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

input {
    text-align: center;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    border: 1px solid #0a0a0a;
    border-radius: 5px;
}

button {
    background-color: #0fad93;
    color: #fff;
    border: none;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%;
    border-radius: 5px;
}

button:hover {
    background-color: #287dad;
}


@media screen and (max-width: 700px) {
    section {
        padding: 10px;
    }

    button {
        padding: 8px;
    }
}
