/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #287dad; 
}

header {
    text-align: center;
    background-color: #368cdd; 
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 500px; 
    width: 100%;
    margin: 0 auto; 
    text-align: center;
}

input{
    text-align: center;
}

button {
    background-color: #368cdd; 
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: auto;

    width: 50%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #368cdd; 
}


@media screen and (max-width: 700px) {
    section {
        padding: 10px; 
    }

    button {
        padding: 8px; 
    }
}

.registro {
    background-color: #373b36;
    color: #fffefe;
    padding: 10px;
    margin-bottom: 10px;
}

aside{
    background-color: #080808;
    color: #fff ;
    padding: 10px;
}