header{
    background-color: #336699;
    color: white;
    padding: 20px;
}

p{
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 12px;
}

h1 {
    margin: 0;
    padding: 0;
}

section {
    background-color: #f8f8f8; 
    max-width: 500px; 
    margin: 0 auto; 
    text-align: center;
}